<header class="py-5 mb-5 border-b border-slate-700">
  <h1 class="text-4xl font-light">
    <%- title ? title.split(' ').map(word => `<b>${word.charAt(0)}</b>${word.slice(1)}`).join(' ') : '<b>N</b>ote <b>A</b>pp' %>
  </h1>
</header>