<div class="bg-[#0a0a0a] fixed float-left w-1/6 h-full flex flex-col py-4 px-2 shadow-md shadow-gray-950" id="main-header">
  <div id="logo" class="py-4 px-3">
    <a class="text-2xl" href="/">Note App</a>
  </div>
  <nav class="flex flex-col gap-1" style="flex: 1">
    <a href="/" class="w-full duration-75 rounded-md cursor-pointer py-3 px-4 hover:bg-black hover:text-white">
      <span class="flex gap-1 items-center">
        <i class="w-[30px] fas fa-home"></i>
        <span>Home</span>
      </span>
    </a>
    <a href="/new-note" class="w-full duration-75 rounded-md cursor-pointer py-3 px-4 hover:bg-black hover:text-white">
      <span class="flex gap-1 items-center">
        <i class="w-[30px] fas fa-plus"></i>
        <span>New Notes</a></span>
      </span>
    </a>
    <a href="/new-category" class="w-full duration-75 rounded-md cursor-pointer py-3 px-4 hover:bg-black hover:text-white">
      <span class="flex gap-1 items-center">
        <i class="w-[30px] fas fa-folder-open"></i>
        <span>Categories</a></span>
      </span>
    </a>
  </nav>
</div>