<div class="border w-fit p-3 border-slate-700 rounded-md flex gap-4 items-center">
    <div>
        <span class="text-sm font-light"><%= box._id %></span>
        <h1 class="text-xl font-bold"><%= box.name %></h1>
    </div>
    <div>
        <form method="post" action="/cat/<%= box._id %>/delete">
            <button type="submit">
                <i class="fas fa-trash text-lg cursor-pointer hover:text-white"></i></a>
            </button>
        </form>
    </div>
</div>