<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Home - Product App' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <div class="">
    <%- include('includes/navbar') %>
    <main style="margin-left: 17%;" class="px-8" id="all-posts">
      <%- include('includes/header', {title: "Products"}) %>

      <% if(!products||products.length==0) {%>

      <div>No Product Found</div>

      <% } else { %>
      <div class="grid grid-cols-3 gap-3">
        <% for(const product of products){ %>
        <%- include('includes/product-item',{product:product}) %>
        <% } %>
      </div>
      <% } %>
    </main>
  </div>
</body>

</html>